/* Equipo 15 - CAC Com 24186 */
/* Hoja de estilos CSS */

/* <!-- COLORES LOGO "PIZZA ¡YAPA!": ROJO #E40C0C; NEGRO #291010;  --> */

:root {
    /* color de prueba para corroborar que no se vea algo de fondo = margenes 0 */
    background-color: red;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: yellow;
}

html {
    height: 100%;
    width: 100%;
}

body {
    
}

header {
    
}

main {

}

footer {

}

.nav-bar {
    color: black;

}
