<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace con FONTAWESOME -->
    <script src="https://kit.fontawesome.com/845b957349.js" crossorigin="anonymous"></script>
    <!-- Enlace con HOJA DE ESTILOS CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="../static/img/favicon.png">
    <!-- Enlace para icononos "X" y "menu" del menu hamburguesa  -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <!-- Aqui va el TITULO DE LA PAGINA -->
    <title>Pizza ¡YAPA! - Menu</title>

</head>

<body>
    <header class="header">
        <!-- Aqui comienza el HEADER -->
        <section id="Home" class="logo-nav-container">
    
            <!-- LOGO HEADER -->
            <!-- COLORES: ROJO #E40C0C; NEGRO #291010;  -->
            <a href="https://pizzayapa.netlify.app"><img src="../static/img/logo/Logo-banner-300x100-transparente.png" alt="Pizza ¡YAPA!"></a>
            
            <!-- MARCA -->
            <h2 hidden>Pizza ¡YAPA!</h2>
    
            <!-- BARRA DE NAVEGACION -->
            <nav class="navigation">
                <!-- inicio html para menu hamburguesa -->
                <input class="checkbox" name=" check" type="checkbox">
                <i class="icons burguer fi fi-br-menu-burger"></i>
                <i class="icons cross fi fi-br-cross"></i>
                <!-- fin html para menu hamburguesa -->
        
    
                <ul id="nav-bar">
                    <!-- <li class="nav-bar"><a href="#Home">Home</a></li> -->
                    <!-- <li class="nav-bar"><a href="#Promos">Promos</a></li>
                    <li class="nav-bar"><a href="#Opiniones">Opiniones</a></li>
                    <li class="nav-bar"><a href="#Horarios">Horarios</a></li>
                    <li class="nav-bar"><a href="#Delivery">Delivery</a></li> -->
                    <li class="nav-bar"><a class="nav-link" href="../templates/menu.html">Menu</a></li>
                    <li class="nav-bar"><a class="nav-link" href="../templates/sucursal.html">Sucursales</a></li>
                    <li class="nav-bar"><a class="nav-link" href="../templates/contacto.html">Contacto</a></li>
                    <li class="nav-bar"><a class="nav-link" href="../templates/quienessomos.html">Quienes somos</a></li>
                    <li class="nav-bar"><a class="nav-link" href="../templates/crud-pizzas.html">-- Back Office --</a></li>
                </ul>
            </nav>
             <br>
        </section>
    </header>

    <main> 
        <section id="form" class="flex-container">

            <div class="box-form-container">

                <h2 class="subtitle">Gestión del menú</h2>
                <p class="description" >En esta sección se podrá llevar a cabo la gestión de las pizzas del portal</p>
                
                <form action="#"  id="form-pizza" class="">
                    <div class="d-flex">

                        <div class="form-control d-flex-column">
                            <label for="title">Título</label>
                            <input type="text" class="input-search" name="title" id="title">
                        </div>
                        
                        <div class="form-control d-flex-column">
                            <label for="description">Descripción</label>
                            <input type="text" class="input-search" name="description" id="description">
                        </div>
                        
                        <div class="form-control d-flex-column">
                            <label for="banner">Banner</label>
                            <input type="url" class="input-search" name="banner" id="banner-form">
                        </div>                
                        
                        <input type="hidden"  name="id" id="id-pizza">
                        
                        <button class="button-submit" type="button" id="btn-save-pizza">Agregar</button>
                        
                    </div>
                </div>
            </form> 
        </section>
        
        <section id="list" class="box-form-container">
            
            <div class="box-pizza-list">
                <h3 class="subtitle">Listado de pizzas</h3>
                
                <table id="list-table-pizzas" class="table">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Descripción</th>
                            <th>Banner</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-table-pizzas">
                        
                    </tbody>
                </table>
            </div>
        </section>  
    </main>
    <!-- Indicar el pie de página -->
    <footer>
        <h3>¡Seguinos en nuestras redes!</h3>
        <div class="box-redes"><a href="https://www.instagram.com" target="_blank"><i style="color: #291010" class="fa-brands fa-instagram fa-xl"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i style="color: #291010" class="fa-brands fa-facebook-f fa-xl"></i></a></div>
        <br>
        <p>© 2024 <strong class="strong-footer">Pizza ¡YAPA!</strong> Derechos Reservados.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/crud-pizzas.js"></script>
</body>

</html>