/* Equipo 15 - CAC Com 24186 */
/* Hoja de estilos CSS */

/* <!-- COLORES LOGO "PIZZA ¡YAPA!": ROJO #E40C0C; NEGRO #291010;  --> */

:root {
    /* pseudo-clase de CSS, selecciona el elemento raíz.
    Equivale a <HTML> pero con mayor especificidad. */
 
}

* {
    font-family: "";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Colores del LOGO DE MARCA
    background-color: #E40C0C;
    color: #291010;        */
    background-color: #fff;
    margin: auto;
    border: 0; 
    padding: 20px;
    max-width: 1200px;
    height: 100%;
    width: 100%;
}

header {

    background-color: #E40C0C;
    margin: 0;
    border: 0; 
    padding: 0;
}

body {
    background-color: #E40C0C;
    display: block;
    position: center;
    margin: 0;
    border: 0; 
    padding: 0;
}

body > main {
    background-color: blue;
}

.promos-big-box {
    background-color: green;
}

.promos-big-box > h2 {
    display: block;
    margin: 0;
    border: 0;
    padding: 3px;
    text-align: center;
    font-size: 2.5em;
    background-color: #e40c0cb6;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: rgb(255, 255, 255);
    padding: 2em;
}

.promo-container {
    background-color: snow;
    padding: 0;
    border: 3px solid #3b3b30;
    border-radius: 10px;
    margin: 10px 10px;
}

.caja-img-promo {
    width: 267px;
    height: 211px;
}

.caja-info-promo {
    width: 267px;
    height: 211px;
    padding: 10px;
}

.promo-img {
    max-width: ;
}

.nombre-producto {
    display: block;
    color: #3b3b30;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    font-weight: 800;
    font-size: 1em;
    line-height: normal;
    margin-bottom: 15px;
    display: flex;

}

.descripcion-producto {
    display: block;
    color: #3b3b30;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    font-weight: normal;
    font-size: 0.8em;
    line-height: normal;
    display: flex;


}

#Opiniones {
    background: linear-gradient(#fff, #000);
    background-image: url('/static/img/pizza-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    
    color: black;
}

.promos {

}

footer {
    padding: 20px;
    background-color: #E40C0C;
    text-align: center;
    
}

.nav-bar {
    color: black;

}


/* -- PAGINA SUCURSALES -- */

.box-container {
    display: block;
    text-align: left;
}

.box-title {
    text-align: center;
    margin: 3px;
}

.box-subtitle {
    text-align: center;
    margin: 2px;

}
.suc-box-container {
    width: 300px;
    height: 330px;
    background-color: rgb(219, 106, 106);
    color: #fff;
    margin: 10px;

}

.suc-box-container > h2 {
    padding: 3px 12px;
    font-size: 2rem;
    font-weight: 500;
}

.suc-box-container > p {
    padding: 3px 12px;
}

.map-box-container {
    width: 250px;
    display: block;
    margin: 0;
    padding: 20px 0;
    border: 0;
    
}

