/* Equipo 15 - CAC Com 24186 */
/* Hoja de estilos CSS */

/* <!-- COLORES LOGO "PIZZA ¡YAPA!": ROJO #E40C0C; NEGRO #291010;  --> */

:root {
    /* pseudo-clase de CSS, selecciona el elemento raíz.
    Equivale a <HTML> pero con mayor especificidad. */

}

* {
    font-family: "";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100%; */
}

html {
    /* Colores del LOGO DE MARCA
    background-color: #E40C0C;
    color: #291010;        */
    background-color: #fff;
    margin: 0 auto;
    border: 0;
    padding: 0 20px;
    max-width: 1200px;
    height: 100%;
    width: 100%;
}

header {

    background-color: #E40C0C;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #E40C0C;
    display: block;
    position: center;
    margin: 0;
    border: 0;
    padding: 0;
}

body > main {
    background-color: lightblue;
}

.promos-big-box {
    background-color: green;
    width: 100%;
}

.promos-big-box > h2 {
    display: block;
    margin: 0;
    border: 0;
    padding: 3px;
    text-align: center;
    font-size: 2.5em;
    background-color: #e40c0cb6;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: rgb(255, 255, 255);
    padding: 2em;
}

.flex-container .box-button {
    text-align: center;
}

.promo-container {
    background-color: snow;
    box-sizing: content-box;
    margin: 10px 10px;
    border: 3px solid #3b3b30;
    border-radius: 5px;
    padding: 0;
    width: 267px;
}

.caja-img-promo {
    width: 265px;
    height: 211px;
    /* margin: 0 auto; */
    /* padding: 5px; */
}

.caja-info-promo {
    width: 267px;
    height: 116px;
    padding: 10px;
}

.promo-img {
    max-width: ;
}

.nombre-producto {
    display: block;
    color: #3b3b30;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    font-weight: 800;
    font-size: 1em;
    line-height: normal;
    margin-bottom: 15px;
    display: flex;

}

.descripcion-producto {
    display: block;
    color: #3b3b30;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    font-weight: normal;
    font-size: 0.8em;
    line-height: normal;
    display: flex;
}

.box-button {
    margin: 0 auto;
    border: 0;
    padding: 30px 20px;
}

.button-pedi-ahora {
    background-color: rgba(192, 192, 192, 0.566);
    color: #E40C0C;
    height: 40px;
    font-size: 1.5rem;
    text-align: center;
}

/* -- OPINIONES -- */


#Opiniones {
    background-color: #E40C0C;
    color: #fff;
}

.box-background {
    background-color: #E40C0C;
    background-image: linear-gradient(to bottom, #E40C0C, #e40c0c6a), url("../img/pizza-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}

.box-opiniones{
    margin: 0 auto;
    padding: 20px 30px;
    border: 0;
    color: #fff;
}

.opinion {
    padding: 0 0 10px 0;

}

.nav-bar {
    color: black;
}


/* -- FOOTER -- */

footer {
    padding: 20px;
    background-color: #E40C0C;
    text-align: center;

}

.box-redes {
    margin: 10px;
}

.strong-footer {
    color: #291010;
}


/* -- PAGINA SUCURSALES -- */

.box-container {
    display: block;
    text-align: left;
}

.box-title {
    background-color: grey;
    color: #000;
    text-align: center;
    margin: 0 auto;
    padding: 3px;
}

.box-subtitle {
    text-align: center;
    margin: 2px;

}
.suc-box-container {
    width: 300px;
    height: 330px;
    background-color: #E40C0C;
    color: #fff;
    margin: 10px;

}

.suc-box-container > h2 {
    padding: 3px 12px;
    font-size: 2rem;
    font-weight: 500;
}

.suc-box-container > p {
    padding: 3px 12px;
}

.map-box-container {
    width: 300px;
    display: block;
    margin: 0;
    padding: 20px 0;
    border: 0;
}

/* -- PAGINA CONTACTO -- */

.box-form-container {
    margin: 0 auto;
    border: 0;
    padding: 10px;
    width: 400px;
    background-image: linear-gradient(to bottom, #E40C0C, #e40c0c6a);
}

.box-form-container label {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
}

.box-form-container input, textarea {
    display: block;
    margin: 10px 0;
    padding: 10px 10px;
    border: 1px solid;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: 400;
}

.more-info > input, .more-info p  {
    margin: 0 auto;

}

.checkbox {
}

.button-submit {
    background-color: ;
    color: black;
    font-size: 1.5rem;
}

/* COMIENZA css agregados por joaquin para el header*/

header {
    box-sizing: border-box; /*agregado por joaquin*/
}

main {
padding-top: 8rem; /* agregado por joaquin para header fixed (fijo) */
padding-bottom: 2rem; /* agregado por joaquin para separar esteticamente del footer */

}


.header{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    left: 0;
    top:0;
    right: 0;

}
.logo-nav-container{
    display: flex;
    /* justify-content: space-between; */
    /* Inicio de agregado de Emmanuel */
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* Fin de agregado de Emmanuel */
    align-items: center;
    background-color: white;

    


}
.header a{
    color: white;
    text-decoration: none;    
}

.nav-link {
    background-color: black;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navigation ul li a:hover{
    background: red;

}

.logo{
    border: #E40C0C solid;
    border-radius: 100%;
}
img{
    background-color: white;
}

.checkbox , .icons{
    display: none;
}

@media only screen and (max-width: 800px)
     {
        .logo-nav-container{
        text-align: center;
        display: block;
    }
        .checkbox:not(checked) ~ #nav-bar{
            display: none;
        }
        .checkbox:checked ~ #nav-bar{
            display: block;
        }
        .checkbox , .icons{
            display: block;
            color: #E40C0C;
            background-color: white ;
            font-size: 1.5em;
            position: absolute;
            right: 1em;
            top: 1em;


        }
        .checkbox{
            opacity: 0%;
        }


        .icons{
           font-size: 1.2em;
            pointer-events: none;
        }
        .cross {
            display: none;
        }
        .checkbox:checked ~ .burguer {
            display: none;

        }
        .checkbox:checked ~ .cross {
            display: block;

        }

        .navigation ul li{
            display: block;


        }



     }

/* FIN css agregados por joaquin para el header*/

/* COMIENZA css agregados por joaquin para la pagina de menu */

.tit-principal{
    color: #E40C0C;
    height: 2em;
    font-size: 3em;
    text-align: center;
    margin: 1em;
    border: black;

}


h4{
    font-size: 1.5em;


}
p{
    font-style: oblique;
    font-size: 1.2em;
}

.wrap{
    max-width: 100%;
    margin: 0 auto;
    background-color:lightgray;
  }

  .column-2.carta{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .plato-carta{
    display: flex;
    align-items: center;
    border: 2px solid #e5e5e5;
    border-radius: 6px;
    background-color: rgb(243, 239, 11);
  }

  .img-plato-carta{
    display: flex;
    flex-basis: 25%;
    justify-content: center;
  }

  .img-plato-carta img{
    max-width: 100px;
    max-height: 75px;
  }

  .title-plato-carta{
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-top: none;
    flex-basis: 60%;
    padding: 1 1.5rem;
  }

  .precio-plato-carta{
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    font-weight: bold;
    text-align: center;
  }

  .wrap-title-section{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.5em;

  }



  @media (max-width:600px){
    .column-2.carta{
      grid-template-columns: repeat(1,1fr);
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 800px) {
    .column-2.carta{
        grid-template-columns: repeat(2,1fr);
      }
}
@media (min-width:800px){
    .column-2.carta{
      grid-template-columns: repeat(3,1fr);
    }
  }

  /* Fin CSS agregados MENU Joaquin */