/* Equipo 15 - CAC Com 24186 */
/* Hoja de estilos CSS */

/* <!-- COLORES LOGO "PIZZA ¡YAPA!": ROJO #E40C0C; NEGRO #291010;  --> */

:root {
    /* color de prueba para corroborar que no se vea algo de fondo = margenes 0 */
    background-color: #E40C0C;
    color: #291010;
        
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    
}

header {
    background-color: snow;
}

body > main {
    background-color: blue;
    max-width: 800px;

}

#Promos {

}

#Opiniones {
    background: linear-gradient();
    background-image: url('/static/img/pizza-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    
    color: black;
}

.promos {
    min-width: 300px;
    min-height: 50px;
}

header {
    
}

main {

}

footer {
    padding: 20px;
    background-color: #E40C0C;
    text-align: center;
    
}

.nav-bar {
    color: black;

}
