/* Equipo 15 - CAC Com 24186 */
/* Hoja de estilos CSS */

/* <!-- COLORES LOGO "PIZZA ¡YAPA!": ROJO #E40C0C; NEGRO #291010;  --> */

:root {
    /* pseudo-clase de CSS, selecciona el elemento raíz.
    Equivale a <HTML> pero con mayor especificidad. */
 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Colores del LOGO DE MARCA
    background-color: #E40C0C;
    color: #291010;        */
    margin: 0;
    border: 0; 
    padding: 0;
    max-width: 1100px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    border: 0; 
    padding: 0;
}

header {
    margin: 0;
    border: 0; 
    padding: 0;
    background-color: snow;

}

body {
    margin: 0;
    border: 0; 
    padding: 0;
}

body > main {
    background-color: blue;
}

#Promos {

}

.container-promos {
    display: grid;
    border: 3px solid black;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: ();
}

.container-promos div {

}

#Opiniones {
    background: linear-gradient(#fff, #000);
    background-image: url('/static/img/pizza-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    
    color: black;
}

.promos {
    min-width: 300px;
    min-height: 50px;
}

footer {
    padding: 20px;
    background-color: #E40C0C;
    text-align: center;
    
}

.nav-bar {
    color: black;

}
