/* Equipo 15 - CAC Com 24186 */
/* Hoja de estilos CSS */

/* <!-- COLORES LOGO "PIZZA ¡YAPA!": ROJO #E40C0C; NEGRO #291010;  --> */

:root {
    /* color de prueba para corroborar que no se vea algo de fondo = margenes 0 */
    background-color: #E40C0C;
    
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    /* background-color: yellow; */
    
}

html {
    height: 100%;
    width: 100%;
}

/* COMIENZA css agregados por joaquin para el header*/

header {
    box-sizing: border-box; /*agregado por joaquin*/
}

main {
padding-top: 8rem; /* agregado por joaquin para header fixed (fijo) */
padding-bottom: 2rem; /* agregado por joaquin para separar esteticamente del footer */

}


.header{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    left: 0;
    top:0;
    right: 0;

}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
   
}
.header a{
    color: white;
    text-decoration: none;
    background-color: black;
    }
 
   
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navigation ul li a:hover{
    background: red;

}

.logo{
    border: #E40C0C solid;
    border-radius: 100%;
}
img{
    background-color: white;
}

.checkbox , .icons{
    display: none;
}

@media only screen and (max-width: 800px) 
     {
        .logo-nav-container{
        text-align: center;
        display: block;
    }
        .checkbox:not(checked) ~ #nav-bar{
            display: none;
        }
        .checkbox:checked ~ #nav-bar{
            display: block;
        }   
        .checkbox , .icons{
            display: block;
            color: #E40C0C;
            background-color: white ; 
            font-size: 1.5em;
            position: absolute;
            right: 1em;
            top: 1em;
            
                       
        }
        .checkbox{
            opacity: 0%;
        }
            
        
        .icons{
           font-size: 1.2em;
            pointer-events: none;
        }
        .cross {
            display: none;
        }
        .checkbox:checked ~ .burguer {
            display: none;

        }
        .checkbox:checked ~ .cross {
            display: block;
                
        }
        
        .navigation ul li{
            display: block;
            
            
        }
       
            
            
     }

/* FIN css agregados por joaquin para el header*/

/* COMIENZA css agregados por joaquin para la pagina de menu */

.tit-principal{
    color: #E40C0C;
    height: 2em;
    font-size: 3em;
    text-align: center;
    margin: 1em;
    border: black;
       
}


h4{
    font-size: 1.5em;
    
    
}
p{
    font-style: oblique;
    font-size: 1.2em;
}

.wrap{
    max-width: 100%;
    margin: 0 auto;
    background-color:lightgray;
  }
  
  .column-2.carta{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }
  
  .plato-carta{
    display: flex;
    align-items: center;
    border: 2px solid #e5e5e5;
    border-radius: 6px;
    background-color: rgb(243, 239, 11);
  }
  
  .img-plato-carta{
    display: flex;
    flex-basis: 25%;
    justify-content: center;
  }
  
  .img-plato-carta img{
    max-width: 100px;
    max-height: 75px;
  }
  
  .title-plato-carta{
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-top: none;
    flex-basis: 60%;
    padding: 1 1.5rem;
  }
  
  .precio-plato-carta{
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    font-weight: bold;
    text-align: center;
  }

  .wrap-title-section{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
    
  }



  @media (max-width:600px){
    .column-2.carta{
      grid-template-columns: repeat(1,1fr);
    }
  } 
   
  @media only screen and (min-width: 600px) and (max-width: 800px) {
    .column-2.carta{
        grid-template-columns: repeat(2,1fr);
      }
}   
@media (min-width:800px){
    .column-2.carta{
      grid-template-columns: repeat(3,1fr);
    }
  } 

  /* Fin CSS agregados MENU Joaquin */