/* Equipo 15 - CAC Com 24186 */
/* Hoja de estilos CSS */

/* <!-- COLORES LOGO "PIZZA ¡YAPA!": ROJO #E40C0C; NEGRO #291010;  --> */

html {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: yellow;
}

body {
    
}

header {
    
}

main {

}

footer {

}

.nav-bar {
    color: black;

}

.grid-quienes-somos {
    display: grid;
    padding: 5px;
    grid-template-columns: 50% 50%;
    background: steelblue;
}

.qs-slide {
    overflow: hidden;
}


.img {
    width: 100%;
}

@media screen and (max-width: 720px) {
    .grid-quienes-somos {
        grid-template-columns: 1fr;
    }
}