<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/845b957349.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/styles-emma.css">
    <link rel="shortcut icon" href="../static/img/favicon.png">
    <title>Pizza ¡YAPA! - Quienes somos</title>
</head>

<body>

    <header>
            <!-- LOGO HEADER -->
            <!-- COLORES: ROJO #E40C0C; NEGRO #291010;  -->
            <img src="../static/img/logo/Logo-banner-300x100-transparente.png" alt="Pizza ¡YAPA!">
            
            <!-- BARRA DE NAVEGACION -->
            <nav>
        
                <ul id="nav-bar">
                    <li class="nav-bar"><a href="#Home">Home</a></li>
                    <li class="nav-bar"><a href="#Promos">Promos</a></li>
                    <li class="nav-bar"><a href="#Opiniones">Opiniones</a></li>
                    <li class="nav-bar"><a href="#Horarios">Horarios</a></li>
                    <li class="nav-bar"><a href="#Delivery">Delivery</a></li>
                    <li class="nav-bar"><a href="../templates/menu.html">Menu</a></li>
                    <li class="nav-bar"><a href="../templates/sucursal.html">Sucursal</a></li>
                    <li class="nav-bar"><a href="../templates/contacto.html">Contacto</a></li>
                    <li class="nav-bar"><a href="../templates/quienessomos.html">Quienes somos</a></li>
                </ul>
            </nav>    
    </header>
    <main>
        <div class="title"><h1>Quiénes somos</h1></div>

        <div class="grid-quienes-somos">
            <div class="column"><p>En 2024 nació <strong>Pizza ¡YAPA!</strong>, una pizzería que fusiona la pasión italiana con la magia de lo
                nuevo. Fundada por la visionaria chef Isabella Rossi, esta encantadora casa de pizzas combina sabores
                tradicionales con un toque contemporáneo. En <strong>Pizza ¡YAPA!</strong>, cada pizza es una obra de arte, desde la masa
                hecha a mano hasta los ingredientes frescos y cuidadosamente seleccionados. Inspirados por la tradición y
                guiados por la innovación, nuestro objetivo es llevar la auténtica experiencia italiana a cada cliente.
                Unite a nosotros en este viaje culinario donde el sabor se convierte en una aventura inolvidable.</p></div>
            <div class="column">
                <img class="foto" src="../static/img/quienes-somos-1.jpg" alt="Quiénes somos 1">
            </div>
        </div>
        
        <br><br>
    
        <div class="slider">
            <div class="slider-frame">
                <ul>
                    <li><img class="foto" src="../static/img/quienes-somos-2.jpg" alt=""></li>
                    <li><img class="foto" src="../static/img/quienes-somos-3.jpg" alt=""></li>
                    <li><img class="foto" src="../static/img/quienes-somos-4.jpg" alt=""></li>
                </ul>
            </div>
        </div>

        

    </main>
    <footer>
        <h3>¡Seguinos en nuestras redes!</h3>
        <a href="https://www.instagram.com" target="_blank"><img src="../static/img/instagram-logo-24.png" alt="Instagram"></a>
        <a href="https://www.facebook.com" target="_blank"><img src="../static/img/facebook-logo-24.png" alt="Facebook"></a>
        <br><br>
        <p>© 2024 Pizza ¡YAPA! Derechos Reservados.</p>
    </footer>

</body>

</html>