<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace con FONTAWESOME -->
    <script src="https://kit.fontawesome.com/845b957349.js" crossorigin="anonymous"></script>
    <!-- Enlace con HOJA DE ESTILOS CSS -->
    <link rel="stylesheet" href="/static/css/styles-emma.css">

    <!-- Aqui va el TITULO DE LA PAGINA -->
    <title>QUIENES SOMOS</title>
</head>

<body>

    <header>
        <!-- Aqui comienza el HEADER -->
        <section id="Home">

            <!-- LOGO HEADER -->
            <!-- COLORES: ROJO #E40C0C; NEGRO #291010;  -->
            <img src="/static/img/logo/Pizza ¡YAPA! - Logo Banner 300x100-transparente.png" alt="Pizza ¡YAPA!">
            
            <!-- BARRA DE NAVEGACION -->
            <nav>
        
                <ul id="nav-bar">
                    <li class="nav-bar"><a href="#Home">Home</a></li>
                    <li class="nav-bar"><a href="#Promos">Promos</a></li>
                    <li class="nav-bar"><a href="#Opiniones">Opiniones</a></li>
                    <li class="nav-bar"><a href="#Horarios">Horarios</a></li>
                    <li class="nav-bar"><a href="#Delivery">Delivery</a></li>
                    <li class="nav-bar"><a href="/templates/menu.html">Menu</a></li>
                    <li class="nav-bar"><a href="/templates/sucursal.html">Sucursal</a></li>
                    <li class="nav-bar"><a href="/templates/contacto.html">Contacto</a></li>
                    <li class="nav-bar"><a href="/templates/quienessomos.html">Quienes somos</a></li>
                </ul>
            </nav>
        </section>        
    </header>
    <main>
        <div class="title"><h1>Quiénes somos</h1></div>

        <div class="grid-quienes-somos">
            <div class="column"><p>En 2024 nació <strong>Pizza ¡YAPA!</strong>, una pizzería que fusiona la pasión italiana con la magia de lo
                nuevo. Fundada por la visionaria chef Isabella Rossi, esta encantadora casa de pizzas combina sabores
                tradicionales con un toque contemporáneo. En <strong>Pizza ¡YAPA!</strong>, cada pizza es una obra de arte, desde la masa
                hecha a mano hasta los ingredientes frescos y cuidadosamente seleccionados. Inspirados por la tradición y
                guiados por la innovación, nuestro objetivo es llevar la auténtica experiencia italiana a cada cliente.
                Unite a nosotros en este viaje culinario donde el sabor se convierte en una aventura inolvidable.</p></div>
            <div class="column">
                <img class="img" src="/static/img/quienes-somos-3.jpg" alt="">
            </div>
          </div>
        

    </main>
    <footer>
        <!-- Aqui comienza el FOOTER -->

    </footer>

</body>

</html>