<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace con FONTAWESOME -->
    <script src="https://kit.fontawesome.com/845b957349.js" crossorigin="anonymous"></script>
    <!-- Enlace con HOJA DE ESTILOS CSS -->
    <link rel="stylesheet" href="../static/css/styles-jose.css">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="../static/img/favicon.png">
    <!-- Enlace para icononos "X" y "menu" del menu hamburguesa  -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <!-- Aqui va el TITULO DE LA PAGINA -->
    <title>Pizza ¡YAPA! - Sucursales</title>

</head>

<body>
    
    <header class="header">
        <!-- Aqui comienza el HEADER -->
        <section id="Home" class="logo-nav-container">
    
            <!-- LOGO HEADER -->
            <!-- COLORES: ROJO #E40C0C; NEGRO #291010;  -->
            <a href="https://pizzayapa.netlify.app"><img src="../static/img/logo/Logo-banner-300x100-transparente.png" alt="Pizza ¡YAPA!"></a>
            
            <!-- MARCA -->
            <h1 hidden>Pizza ¡YAPA!</h1>
    
            <!-- BARRA DE NAVEGACION -->
            <nav class="navigation">
                <!-- inicio html para menu hambuerguesa -->
                <input class="checkbox" name=" check" type="checkbox">
                <i class="icons burguer fi fi-br-menu-burger"></i>
                <i class="icons cross fi fi-br-cross"></i>
                <!-- fin html para menu hambuerguesa -->
        
    
                <ul id="nav-bar">
                    <!-- <li class="nav-bar"><a href="#Home">Home</a></li> -->
                    <!-- <li class="nav-bar"><a href="#Promos">Promos</a></li>
                    <li class="nav-bar"><a href="#Opiniones">Opiniones</a></li>
                    <li class="nav-bar"><a href="#Horarios">Horarios</a></li>
                    <li class="nav-bar"><a href="#Delivery">Delivery</a></li> -->
                    <li class="nav-bar"><a class="nav-link" href="../templates/menu.html">Menu</a></li>
                    <li class="nav-bar"><a class="nav-link" href="../templates/sucursal.html">Sucursales</a></li>
                    <li class="nav-bar"><a class="nav-link" href="../templates/contacto.html">Contacto</a></li>
                    <li class="nav-bar"><a class="nav-link" href="../templates/quienessomos.html">Quienes somos</a></li>
                </ul>
            </nav>
             <br>
        </section>
    </header>

    <main>
        <!-- Aqui comienza el MAIN -->

        <div class="box-container">
            
            <div class="box-container">
                <div class="box-title">
                    <h1>Sucursales</h1>
                </div>
                <div class="box-subtitle">
                    <h3>¿Dónde podés encontrarnos?</h3>
                </div>
                
            </div>
            
            <div class="flex-container">

                <div class="suc-box-container">

                    <!-- Nombre -->
                    <h2>CABA</h2>
                    <!-- Direccion -->
                    <p>Av. Corrientes 1368, C1043 <br>Ciudad Autónoma de Buenos Aires</p>
                    <!-- Telefono -->
                    <p>11-4371-8141</p>
                    <!-- Pedi online -->

                    <!-- Cómo llegar -->
                    <div class="map-box-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6568.235273362002!2d-58.38751957214918!3d-34.6011867345634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac42dabce9b%3A0xbaa2d156dbe4138d!2zUGl6emVyw61hIEfDvGVycsOtbg!5e0!3m2!1ses!2sar!4v1716409362852!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    
                </div>
    
                <div class="suc-box-container">
                    
                    <!-- Nombre -->
                    <h2>La Plata (Bs As)</h2>
                    <!-- Direccion -->
                    <p>Calle 14 nro 686, B1900 <br>La Plata, Provincia de Buenos Aires</p>
                    <!-- Telefono -->
                    <p>2214-830-628</p>
                    <!-- Pedi online -->

                    <!-- Cómo llegar -->
                    <div class="map-box-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52344.177993747304!2d-58.00710937568249!3d-34.91871611104056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e6333e5e3c53%3A0xd8e0d8c2b901fe34!2sJesolo!5e0!3m2!1ses!2sar!4v1716410584141!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                
                </div>
                    
    
                <div class="suc-box-container">
    
                    
                    <!-- Nombre -->
                    <h2>San Miguel (Bs As)</h2>
                    <!-- Direccion -->
                    <p>Belgrano 1102, B1663NLX <br>San Miguel, Provincia de Buenos Aires</p>
                    <!-- Telefono -->
                    <p>11-4451-4566</p>
                    <!-- Pedi online -->

                    <!-- Cómo llegar -->
                    <div class="map-box-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.4144657412885!2d-58.7140910093334!3d-34.54306001458863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbd0d8d6123db%3A0x291703e002d44c2a!2sPizzer%C3%ADa%20Piedra%20Libre!5e0!3m2!1ses!2sar!4v1716410894220!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                
                </div>
    
            </div>
            


        </div>
        
        



    </main>
    <footer>
        <h3>¡Seguinos en nuestras redes!</h3>
        <div class="box-redes"><a href="https://www.instagram.com" target="_blank"><i style="color: #291010" class="fa-brands fa-instagram fa-xl"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i style="color: #291010" class="fa-brands fa-facebook-f fa-xl"></i></a></div>
        <br>
        <p>© 2024 <strong class="strong-footer">Pizza ¡YAPA!</strong> Derechos Reservados.</p>
    </footer>
    
</body>

</html>