<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace con FONTAWESOME -->
    <script src="https://kit.fontawesome.com/845b957349.js" crossorigin="anonymous"></script>
    <!-- Enlace con HOJA DE ESTILOS CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.png">

    <!-- Aqui va el TITULO DE LA PAGINA -->
    <title>TPO team 15</title>

</head>


<body>
    
    <header>
        <!-- Aqui comienza el HEADER -->

    </header>
    <main>
        <!-- Aqui comienza el MAIN -->

    </main>
    <footer>
        <!-- Aqui comienza el FOOTER -->

    </footer>
    
</body>

</html>